{
    "u_name": "x",
    "email": "x",
    "password": "x",
    "API_key": "x"
    // hostname = "localhost" | "eraiyomi"
    "hostname":"localhost",
    // url = "http://localhost:8005" | "http://localhost:8006" | "https://staging-client.eraiyomi.com"
    "url":"http://localhost:8005"
}